@font-face {
  font-family: 'Genericons';
  src: url("font/genericons-regular-webfont.eot");
  src: url("font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/genericons-regular-webfont.woff") format("woff"), url("font/genericons-regular-webfont.ttf") format("truetype"), url("font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  overflow-x: hidden; }

.overflow-wrapper {
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.25; }

h1 {
  font-size: 1em;
  font-weight: 300;
  color: #404040;
  text-align: center; }

h2 {
  font-size: 0.75em;
  font-weight: 300;
  color: #404040; }

p {
  font-weight: 500;
  text-align: center;
  font-size: 0.5em;
  color: #404040; }

a {
  position: relative;
  color: #373B44;
  font-weight: 700;
  text-decoration: none; }
  a:hover {
    opacity: 0.8; }
  a:active {
    top: 1px; }

ul li {
  font-weight: 500;
  text-align: center;
  font-size: 0.5em;
  color: #404040; }

hr {
  width: 10%;
  height: 2px;
  border: 0;
  background: #eb5848; }

.page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden; }

.loadingGif {
  position: absolute;
  width: 10%;
  height: auto;
  left: 45%;
  margin: 0;
  margin-top: -5vh;
  padding: 0;
  visibility: hidden;
  z-index: 6;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .loadingGif {
      margin-top: -51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .loadingGif {
      margin-top: -38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .loadingGif {
      margin-top: -24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .loadingGif {
      margin-top: -16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .loadingGif {
      margin-top: -28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .loadingGif {
      margin-top: -16px; } }

.loadingGif.active {
  visibility: visible;
  opacity: 1; }

.bubble-wrap {
  height: 60px;
  width: 60px;
  background-color: transparent;
  top: 70px;
  right: 70px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: scale(0);
  -webkit-transition: all 0.3s ease-out;
  display: block; }

.bubble-wrap.active {
  display: none; }

.bubble {
  height: 60px;
  width: 60px;
  background-color: white;
  top: 70px;
  right: 70px;
  position: absolute;
  border-radius: 50%;
  z-index: 5;
  -webkit-transform: scale(0);
  -webkit-transition: all 0.3s ease-out; }

.bubble.active {
  -webkit-transform: scale(100);
  -webkit-transition: all 1.5s ease-out;
  -webkit-transition-delay: 0s; }

.bubble2 {
  height: 60px;
  width: 60px;
  background-color: white;
  top: 70px;
  right: 70px;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(100);
  -webkit-transition: all 0.3s ease-out;
  z-index: 1; }

.bubble2.active {
  -webkit-transform: scale(0);
  -webkit-transition: all 0.5s ease-out;
  -webkit-transition-delay: 0s; }

.bubbleback {
  height: 60px;
  width: 60px;
  background-color: transparent;
  top: 70px;
  right: 70px;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(1);
  opacity: 1; }

.bubbleback.active {
  -webkit-transform: scale(1.5);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out; }

.info-blocks h1 {
  width: 33.33%;
  display: inline-block;
  float: left; }
.info-blocks h2 {
  width: 33.33%;
  display: inline-block;
  float: left;
  padding-top: 2vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info-blocks h2 {
      padding-top: 20.48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info-blocks h2 {
      padding-top: 15.36px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info-blocks h2 {
      padding-top: 9.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info-blocks h2 {
      padding-top: 6.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info-blocks h2 {
      padding-top: 11.36px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info-blocks h2 {
      padding-top: 6.4px; } }
.info-blocks span {
  width: 33.33%;
  height: auto;
  height: 5vh;
  display: inline-block;
  float: left;
  padding: 0 2% 10% 2%;
  color: #404040; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info-blocks span {
      height: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info-blocks span {
      height: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info-blocks span {
      height: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info-blocks span {
      height: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info-blocks span {
      height: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info-blocks span {
      height: 16px; } }
  .info-blocks span p {
    text-align: center; }
.info-blocks .genericon {
  font-size: 3em; }
.info-blocks .pf {
  font-size: 3em; }
.info-blocks hr {
  width: 15%;
  display: inline-block;
  float: left;
  margin: 0 9.1665%; }

.social-blocks {
  margin-top: 10vh;
  margin-bottom: 30vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .social-blocks {
      margin-top: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .social-blocks {
      margin-top: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .social-blocks {
      margin-top: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .social-blocks {
      margin-top: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .social-blocks {
      margin-top: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .social-blocks {
      margin-top: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .social-blocks {
      margin-bottom: 307.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .social-blocks {
      margin-bottom: 230.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .social-blocks {
      margin-bottom: 144px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .social-blocks {
      margin-bottom: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .social-blocks {
      margin-bottom: 170.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .social-blocks {
      margin-bottom: 96px; } }
  .social-blocks .genericon {
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    .social-blocks .genericon:hover {
      color: #373B44; }

.info-blocks-3 {
  margin-left: -3.3%;
  padding: 0 10%; }
  .info-blocks-3 h2 {
    font-size: 0.5em;
    width: 33.33%;
    display: inline-block;
    float: left;
    padding-top: 1vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .info-blocks-3 h2 {
        padding-top: 10.24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .info-blocks-3 h2 {
        padding-top: 7.68px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .info-blocks-3 h2 {
        padding-top: 4.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .info-blocks-3 h2 {
        padding-top: 3.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .info-blocks-3 h2 {
        padding-top: 5.68px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .info-blocks-3 h2 {
        padding-top: 3.2px; } }
  .info-blocks-3 span {
    width: 33.33%;
    height: auto;
    height: 5vh;
    display: inline-block;
    float: left;
    padding: 0 0% 10% 0%;
    color: #404040; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .info-blocks-3 span {
        height: 51.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .info-blocks-3 span {
        height: 38.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .info-blocks-3 span {
        height: 24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .info-blocks-3 span {
        height: 16px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .info-blocks-3 span {
        height: 28.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .info-blocks-3 span {
        height: 16px; } }
  .info-blocks-3 .pf {
    font-size: 2em; }

.info-blocks-4 {
  margin-left: -3.3%;
  padding: 0 10%; }
  .info-blocks-4 h2 {
    font-size: 0.5em;
    width: 25%;
    display: inline-block;
    float: left;
    padding-top: 1vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .info-blocks-4 h2 {
        padding-top: 10.24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .info-blocks-4 h2 {
        padding-top: 7.68px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .info-blocks-4 h2 {
        padding-top: 4.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .info-blocks-4 h2 {
        padding-top: 3.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .info-blocks-4 h2 {
        padding-top: 5.68px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .info-blocks-4 h2 {
        padding-top: 3.2px; } }
  .info-blocks-4 span {
    width: 25%;
    height: auto;
    height: 5vh;
    display: inline-block;
    float: left;
    padding: 0 0% 10% 0%;
    color: #404040; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .info-blocks-4 span {
        height: 51.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .info-blocks-4 span {
        height: 38.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .info-blocks-4 span {
        height: 24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .info-blocks-4 span {
        height: 16px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .info-blocks-4 span {
        height: 28.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .info-blocks-4 span {
        height: 16px; } }
  .info-blocks-4 .pf {
    font-size: 2em; }

.info-blocks-5 {
  margin-left: -3.3%;
  padding: 0 10%; }
  .info-blocks-5 h2 {
    font-size: 0.5em;
    width: 20%;
    display: inline-block;
    float: left;
    padding-top: 1vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .info-blocks-5 h2 {
        padding-top: 10.24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .info-blocks-5 h2 {
        padding-top: 7.68px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .info-blocks-5 h2 {
        padding-top: 4.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .info-blocks-5 h2 {
        padding-top: 3.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .info-blocks-5 h2 {
        padding-top: 5.68px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .info-blocks-5 h2 {
        padding-top: 3.2px; } }
  .info-blocks-5 span {
    width: 20%;
    height: auto;
    height: 5vh;
    display: inline-block;
    float: left;
    padding: 0 0% 10% 0%;
    color: #404040; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .info-blocks-5 span {
        height: 51.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .info-blocks-5 span {
        height: 38.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .info-blocks-5 span {
        height: 24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .info-blocks-5 span {
        height: 16px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .info-blocks-5 span {
        height: 28.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .info-blocks-5 span {
        height: 16px; } }
  .info-blocks-5 .pf {
    font-size: 2em; }

::-webkit-input-placeholder {
  color: white; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

:-ms-input-placeholder {
  color: white; }

nav {
  position: absolute;
  top: 8%;
  width: 83%;
  font-weight: 500;
  text-align: right; }
  nav a {
    padding-right: 2%;
    color: white;
    font-size: 0.5em;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    nav a:hover {
      color: #C3CAD9; }

section {
  display: table;
  width: 100%;
  height: 100vh;
  max-width: none;
  padding: 0 10%;
  margin: 0;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    section {
      height: 1024px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    section {
      height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    section {
      height: 480px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    section {
      height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    section {
      height: 568px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    section {
      height: 320px; } }

.intro {
  background-size: cover;
  background-color: white;
  height: 90vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .intro {
      height: 921.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .intro {
      height: 691.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .intro {
      height: 432px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .intro {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .intro {
      height: 511.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .intro {
      height: 288px; } }

.intro-form {
  background-image: url(../img/cover.jpg);
  background-repeat: repeat;
  background-color: #FCF2E2;
  height: 60vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .intro-form {
      height: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .intro-form {
      height: 460.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .intro-form {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .intro-form {
      height: 192px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .intro-form {
      height: 340.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .intro-form {
      height: 192px; } }

.form {
  margin: 0;
  padding-top: 15vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  height: 200vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .form {
      padding-top: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .form {
      padding-top: 115.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .form {
      padding-top: 72px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .form {
      padding-top: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .form {
      padding-top: 85.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .form {
      padding-top: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .form {
      height: 2048px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .form {
      height: 1536px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .form {
      height: 960px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .form {
      height: 640px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .form {
      height: 1136px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .form {
      height: 640px; } }
  .form h1 {
    text-align: center; }
  .form h2 {
    font-size: 0.75em;
    text-align: center;
    color: #eb5848; }
  .form p {
    text-align: center;
    padding: 0 15% 0 15%; }

.form-step-1-header {
  color: white;
  font-size: 2.5em;
  padding-top: 5%; }

.video-icon {
  position: relative;
  width: 10%;
  height: auto;
  margin-left: 45%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .video-icon:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.get-started-caption {
  color: white;
  padding-top: 20vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .get-started-caption {
      padding-top: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .get-started-caption {
      padding-top: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .get-started-caption {
      padding-top: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .get-started-caption {
      padding-top: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .get-started-caption {
      padding-top: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .get-started-caption {
      padding-top: 64px; } }

.get-started {
  position: absolute;
  left: 5%;
  bottom: 37%;
  width: 90%;
  text-align: center; }

@media (max-width: 400px) {
  .logo {
    font-size: 0.75em;
    margin-top: 5.5vh; } }
  @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .logo {
      margin-top: 56.32px; } }
  @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .logo {
      margin-top: 42.24px; } }
  @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .logo {
      margin-top: 26.4px; } }
  @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .logo {
      margin-top: 17.6px; } }
  @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .logo {
      margin-top: 31.24px; } }
  @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .logo {
      margin-top: 17.6px; } }

@media (max-width: 400px) {
  nav a {
    font-size: 0.45em; } }
@media (min-width: 650px) {
  .payment-methods-mobile-caption {
    display: none; } }
@media (max-width: 700px) {
  .get-started {
    bottom: 30%; }

  .tutorial-text2 {
    padding-top: 1vh; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .tutorial-text2 {
      padding-top: 10.24px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .tutorial-text2 {
      padding-top: 7.68px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .tutorial-text2 {
      padding-top: 4.8px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .tutorial-text2 {
      padding-top: 3.2px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .tutorial-text2 {
      padding-top: 5.68px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .tutorial-text2 {
      padding-top: 3.2px; } }

@media (max-width: 700px) {
  .info-blocks h1 {
    padding-top: 5vh; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info-blocks h1 {
      padding-top: 51.2px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info-blocks h1 {
      padding-top: 38.4px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info-blocks h1 {
      padding-top: 24px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info-blocks h1 {
      padding-top: 16px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info-blocks h1 {
      padding-top: 28.4px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info-blocks h1 {
      padding-top: 16px; } }
@media (max-width: 700px) {
  .info-blocks h2 {
    padding-top: 5vh; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info-blocks h2 {
      padding-top: 51.2px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info-blocks h2 {
      padding-top: 38.4px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info-blocks h2 {
      padding-top: 24px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info-blocks h2 {
      padding-top: 16px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info-blocks h2 {
      padding-top: 28.4px; } }
  @media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info-blocks h2 {
      padding-top: 16px; } }

@media (max-width: 650px) {
  .payment-methods-mobile-caption {
    display: block; }

  .intro .logo {
    color: red;
    padding-top: 3vh; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .intro .logo {
      padding-top: 30.72px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .intro .logo {
      padding-top: 23.04px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .intro .logo {
      padding-top: 14.4px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .intro .logo {
      padding-top: 9.6px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .intro .logo {
      padding-top: 17.04px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .intro .logo {
      padding-top: 9.6px; } }

@media (max-width: 650px) {
  .info-blocks-5 {
    margin-left: 0%; }
    .info-blocks-5 h2 {
      display: none; }
    .info-blocks-5 span {
      width: 50%;
      height: auto;
      height: 5vh;
      display: inline-block;
      float: left;
      padding: 5% 0% 20% 0%;
      color: #404040; } }
    @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .info-blocks-5 span {
        height: 51.2px; } }
    @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .info-blocks-5 span {
        height: 38.4px; } }
    @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .info-blocks-5 span {
        height: 24px; } }
    @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .info-blocks-5 span {
        height: 16px; } }
    @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .info-blocks-5 span {
        height: 28.4px; } }
    @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .info-blocks-5 span {
        height: 16px; } }
@media (max-width: 650px) {
      .info-blocks-5 span:last-of-type {
        width: 100%;
        margin-bottom: 5vh; } }
      @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
        .info-blocks-5 span:last-of-type {
          margin-bottom: 51.2px; } }
      @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
        .info-blocks-5 span:last-of-type {
          margin-bottom: 38.4px; } }
      @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
        .info-blocks-5 span:last-of-type {
          margin-bottom: 24px; } }
      @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
        .info-blocks-5 span:last-of-type {
          margin-bottom: 16px; } }
      @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
        .info-blocks-5 span:last-of-type {
          margin-bottom: 28.4px; } }
      @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
        .info-blocks-5 span:last-of-type {
          margin-bottom: 16px; } }
@media (max-width: 650px) {
    .info-blocks-5 .pf {
      font-size: 1.5em; } }
@media (max-height: 400px) {
  .get-started {
    bottom: 20%; } }
.get-started-text {
  font-size: 30px;
  line-height: 36px; }

.get-started-text2 {
  font-size: 1em; }

.cycle {
  position: relative;
  display: inline-block;
  height: 28px;
  width: 150px;
  overflow: visible;
  z-index: 1;
  color: white; }
  .cycle .get-started-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    display: inline-block;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease; }
    .cycle .get-started-item.get-started-current {
      z-index: 2;
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    .cycle .get-started-item.last {
      opacity: 0;
      -webkit-transform: translateY(25px);
      -moz-transform: translateY(25px);
      -ms-transform: translateY(25px);
      -o-transform: translateY(25px);
      transform: translateY(25px); }

.restaurant-name {
  left: 0%;
  width: 60%;
  height: 10vh;
  border: 5px solid white;
  background-color: transparent;
  color: white;
  font-size: 0.75em;
  text-align: center;
  vertical-align: bottom; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .restaurant-name {
      height: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .restaurant-name {
      height: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .restaurant-name {
      height: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .restaurant-name {
      height: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .restaurant-name {
      height: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .restaurant-name {
      height: 32px; } }

.restaurant-city {
  left: 10%;
  width: 20%;
  height: 10vh;
  border: 5px solid white;
  background-color: transparent;
  color: white;
  font-size: 0.75em;
  text-align: center;
  vertical-align: bottom; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .restaurant-city {
      height: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .restaurant-city {
      height: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .restaurant-city {
      height: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .restaurant-city {
      height: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .restaurant-city {
      height: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .restaurant-city {
      height: 32px; } }

.restaurant-name-submit {
  left: 10%;
  width: 10%;
  min-width: 30px;
  height: 10vh;
  border: 5px solid #eb5848;
  background-color: #eb5848;
  color: white;
  font-size: 0.75em;
  text-align: center;
  -webkit-transition: border 0.46s ease;
  -moz-transition: border 0.46s ease;
  -ms-transition: border 0.46s ease;
  -o-transition: border 0.46s ease;
  transition: border 0.46s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .restaurant-name-submit {
      height: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .restaurant-name-submit {
      height: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .restaurant-name-submit {
      height: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .restaurant-name-submit {
      height: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .restaurant-name-submit {
      height: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .restaurant-name-submit {
      height: 32px; } }
  .restaurant-name-submit:hover {
    border: 5px solid white;
    background-color: white;
    color: #666666; }
  .restaurant-name-submit span {
    font-size: 1em;
    text-align: center; }

.logo {
  text-align: left;
  padding-top: 3%; }
  .logo a {
    font-weight: 500;
    text-align: left;
    font-size: 1em;
    color: white; }

.themes-browser-pike {
  position: absolute;
  width: 33.33%;
  left: 5%; }

.themes-browser-kirk {
  position: absolute;
  width: 33.33%;
  left: 33.33%; }

.themes-browser-picard {
  position: absolute;
  width: 33.33%;
  right: 5%; }

.goto {
  color: #eb5848;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  .goto:hover {
    color: #404040; }

.tutorial-link {
  padding-bottom: 5vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .tutorial-link {
      padding-bottom: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .tutorial-link {
      padding-bottom: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .tutorial-link {
      padding-bottom: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .tutorial-link {
      padding-bottom: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .tutorial-link {
      padding-bottom: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .tutorial-link {
      padding-bottom: 16px; } }

.tutorial-image {
  width: 80%;
  margin-left: 10%; }

.about {
  margin: 0;
  padding-top: 15vh;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
  height: 80vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about {
      padding-top: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about {
      padding-top: 115.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about {
      padding-top: 72px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about {
      padding-top: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about {
      padding-top: 85.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about {
      padding-top: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about {
      height: 819.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about {
      height: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about {
      height: 384px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about {
      height: 256px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about {
      height: 454.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about {
      height: 256px; } }
  .about h1 {
    text-align: center; }
    .about h1 span {
      font-size: 2em; }
  .about h2 {
    text-align: center;
    color: #eb5848; }
  .about p {
    text-align: center;
    padding: 0 15% 0 15%; }
    .about p span {
      color: #eb5848; }
  .about .about-steps {
    color: #404040; }
  .about .about-break-top {
    width: 130%;
    height: 40vh;
    background-image: url("../img/about-cover.jpg");
    background-size: cover;
    background-color: #404040;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: -15%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .about-break-top {
        height: 409.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .about-break-top {
        height: 307.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .about-break-top {
        height: 192px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .about-break-top {
        height: 128px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .about-break-top {
        height: 227.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .about-break-top {
        height: 128px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .about-break-top {
        margin-top: 102.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .about-break-top {
        margin-top: 76.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .about-break-top {
        margin-top: 48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .about-break-top {
        margin-top: 32px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .about-break-top {
        margin-top: 56.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .about-break-top {
        margin-top: 32px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .about-break-top {
        margin-bottom: 102.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .about-break-top {
        margin-bottom: 76.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .about-break-top {
        margin-bottom: 48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .about-break-top {
        margin-bottom: 32px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .about-break-top {
        margin-bottom: 56.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .about-break-top {
        margin-bottom: 32px; } }
  .about .about-break-bottom {
    width: 100%;
    height: 3px;
    background-color: #404040;
    margin-top: 10vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .about-break-bottom {
        margin-top: 102.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .about-break-bottom {
        margin-top: 76.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .about-break-bottom {
        margin-top: 48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .about-break-bottom {
        margin-top: 32px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .about-break-bottom {
        margin-top: 56.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .about-break-bottom {
        margin-top: 32px; } }
  .about .about-circle {
    display: inline-block;
    width: 20%;
    margin-left: 40%; }
  .about .about-circle:after {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #C3CAD9;
    background-size: 100% 135%;
    content: "";
    box-shadow: 0 0 0 5px #C3CAD9; }
  .about .circle-A:after {
    background-image: url(../img/me.jpg); }
  .about .info-box {
    margin: 0 15%;
    border: 2px solid #eb5848; }
    .about .info-box .info-box-quotes {
      padding: 0 10%; }
  .about .about-blocks {
    width: 70%;
    height: 1px;
    background-color: #404040; }
  .about .hidden-link {
    color: #404040; }

.tutorial {
  height: 40vh;
  padding-top: 0vh;
  background-image: url(../img/tutorial-cover.jpg);
  background-size: cover;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .tutorial {
      height: 409.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .tutorial {
      height: 307.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .tutorial {
      height: 192px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .tutorial {
      height: 128px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .tutorial {
      height: 227.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .tutorial {
      height: 128px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .tutorial {
      padding-top: 0px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .tutorial {
      padding-top: 0px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .tutorial {
      padding-top: 0px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .tutorial {
      padding-top: 0px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .tutorial {
      padding-top: 0px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .tutorial {
      padding-top: 0px; } }

.tutorial-text {
  color: white;
  font-size: 3em;
  padding-top: 20vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .tutorial-text {
      padding-top: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .tutorial-text {
      padding-top: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .tutorial-text {
      padding-top: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .tutorial-text {
      padding-top: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .tutorial-text {
      padding-top: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .tutorial-text {
      padding-top: 64px; } }

.tutorial-text2 {
  color: white;
  text-align: center;
  margin-top: -6vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .tutorial-text2 {
      margin-top: -61.44px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .tutorial-text2 {
      margin-top: -46.08px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .tutorial-text2 {
      margin-top: -28.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .tutorial-text2 {
      margin-top: -19.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .tutorial-text2 {
      margin-top: -34.08px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .tutorial-text2 {
      margin-top: -19.2px; } }

.tutorial-bio {
  height: auto;
  padding-top: 10vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .tutorial-bio {
      padding-top: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .tutorial-bio {
      padding-top: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .tutorial-bio {
      padding-top: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .tutorial-bio {
      padding-top: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .tutorial-bio {
      padding-top: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .tutorial-bio {
      padding-top: 32px; } }
  .tutorial-bio h2 {
    text-align: center;
    color: #404040; }
  .tutorial-bio hr {
    width: 30%;
    margin-bottom: 5vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .tutorial-bio hr {
        margin-bottom: 51.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .tutorial-bio hr {
        margin-bottom: 38.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .tutorial-bio hr {
        margin-bottom: 24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .tutorial-bio hr {
        margin-bottom: 16px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .tutorial-bio hr {
        margin-bottom: 28.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .tutorial-bio hr {
        margin-bottom: 16px; } }
  .tutorial-bio .creating-site {
    width: 100%;
    color: #404040;
    font-size: 3em; }

.tutorial-captions .steps {
  width: 33.33%;
  display: inline-block;
  float: left; }
  .tutorial-captions .steps img {
    position: relative;
    width: 20%;
    margin-left: 40%;
    z-index: 2; }
.tutorial-captions .steps-timeline {
  position: absolute;
  left: 12%;
  margin-top: 2.5%;
  width: 55%;
  height: 1vh;
  z-index: 1; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .tutorial-captions .steps-timeline {
      height: 10.24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .tutorial-captions .steps-timeline {
      height: 7.68px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .tutorial-captions .steps-timeline {
      height: 4.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .tutorial-captions .steps-timeline {
      height: 3.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .tutorial-captions .steps-timeline {
      height: 5.68px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .tutorial-captions .steps-timeline {
      height: 3.2px; } }
.tutorial-captions h1 {
  width: 33.33%;
  display: inline-block;
  float: left; }
.tutorial-captions p {
  width: 33.33%;
  display: inline-block;
  float: left;
  padding: 0 2% 10% 2%; }
.tutorial-captions hr {
  width: 15%;
  display: inline-block;
  float: left;
  margin: 0 9.1665%; }

.contact-fix {
  margin-top: -10%; }

.themes {
  height: 90vh;
  background-image: url(../img/themes-cover.jpg);
  background-size: cover;
  background-color: white;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 0;
  padding-right: 0; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .themes {
      height: 921.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .themes {
      height: 691.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .themes {
      height: 432px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .themes {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .themes {
      height: 511.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .themes {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .themes {
      padding-top: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .themes {
      padding-top: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .themes {
      padding-top: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .themes {
      padding-top: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .themes {
      padding-top: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .themes {
      padding-top: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .themes {
      padding-bottom: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .themes {
      padding-bottom: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .themes {
      padding-bottom: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .themes {
      padding-bottom: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .themes {
      padding-bottom: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .themes {
      padding-bottom: 64px; } }
  .themes h1 {
    color: white; }
  .themes h2 {
    color: white; }

.view-theme {
  width: 60%;
  height: 10vh;
  margin-left: 20%;
  margin-top: 5vh;
  border: 5px solid #CC4D3F;
  background-color: #CC4D3F;
  font-size: 0.75em;
  text-align: center;
  -webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  transition: border 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .view-theme {
      height: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .view-theme {
      height: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .view-theme {
      height: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .view-theme {
      height: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .view-theme {
      height: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .view-theme {
      height: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .view-theme {
      margin-top: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .view-theme {
      margin-top: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .view-theme {
      margin-top: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .view-theme {
      margin-top: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .view-theme {
      margin-top: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .view-theme {
      margin-top: 16px; } }
  .view-theme:hover {
    border: 5px solid white;
    background-color: white; }
    .view-theme:hover h2 {
      color: #666666; }

.learn-more {
  width: 30%;
  height: 10vh;
  margin-left: 35%;
  margin-bottom: 5vh;
  border: 3px solid #eb5848;
  background-color: #eb5848;
  font-size: 0.75em;
  text-align: center;
  -webkit-transition: border 0.5s ease-out;
  -moz-transition: border 0.5s ease-out;
  -ms-transition: border 0.5s ease-out;
  -o-transition: border 0.5s ease-out;
  transition: border 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .learn-more {
      height: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .learn-more {
      height: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .learn-more {
      height: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .learn-more {
      height: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .learn-more {
      height: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .learn-more {
      height: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .learn-more {
      margin-bottom: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .learn-more {
      margin-bottom: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .learn-more {
      margin-bottom: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .learn-more {
      margin-bottom: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .learn-more {
      margin-bottom: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .learn-more {
      margin-bottom: 16px; } }
  @media (max-width: 700px) {
    .learn-more {
      width: 40%;
      margin-left: 30%; } }
  .learn-more h2 {
    color: white; }
  .learn-more:hover {
    border: 5px solid #eb5848;
    background-color: white; }
    .learn-more:hover h2 {
      color: #eb5848; }

.changes-info {
  height: auto;
  padding-top: 10vh;
  padding-bottom: 20vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .changes-info {
      padding-top: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .changes-info {
      padding-top: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .changes-info {
      padding-top: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .changes-info {
      padding-top: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .changes-info {
      padding-top: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .changes-info {
      padding-top: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .changes-info {
      padding-bottom: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .changes-info {
      padding-bottom: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .changes-info {
      padding-bottom: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .changes-info {
      padding-bottom: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .changes-info {
      padding-bottom: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .changes-info {
      padding-bottom: 64px; } }
  .changes-info h2 {
    text-align: center;
    color: #404040; }
  .changes-info p {
    text-align: center;
    padding: 0 15% 0 15%; }
  .changes-info hr {
    width: 30%;
    margin-bottom: 5vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .changes-info hr {
        margin-bottom: 51.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .changes-info hr {
        margin-bottom: 38.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .changes-info hr {
        margin-bottom: 24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .changes-info hr {
        margin-bottom: 16px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .changes-info hr {
        margin-bottom: 28.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .changes-info hr {
        margin-bottom: 16px; } }
  .changes-info .making-changes {
    width: 100%;
    color: #404040;
    font-size: 3em; }
  .changes-info .info-blocks span strong {
    word-wrap: break-word; }

.changes {
  height: 40vh;
  background-image: url(../img/price-cover.jpg);
  background-size: cover;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .changes {
      height: 409.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .changes {
      height: 307.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .changes {
      height: 192px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .changes {
      height: 128px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .changes {
      height: 227.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .changes {
      height: 128px; } }

.pricing-info {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 35vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .pricing-info {
      padding-top: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .pricing-info {
      padding-top: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .pricing-info {
      padding-top: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .pricing-info {
      padding-top: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .pricing-info {
      padding-top: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .pricing-info {
      padding-top: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .pricing-info {
      padding-bottom: 358.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .pricing-info {
      padding-bottom: 268.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .pricing-info {
      padding-bottom: 168px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .pricing-info {
      padding-bottom: 112px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .pricing-info {
      padding-bottom: 198.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .pricing-info {
      padding-bottom: 112px; } }
  .pricing-info p {
    padding: 0 15%; }
  .pricing-info .payment-methods {
    padding-top: 5vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .pricing-info .payment-methods {
        padding-top: 51.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .pricing-info .payment-methods {
        padding-top: 38.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .pricing-info .payment-methods {
        padding-top: 24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .pricing-info .payment-methods {
        padding-top: 16px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .pricing-info .payment-methods {
        padding-top: 28.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .pricing-info .payment-methods {
        padding-top: 16px; } }
    .pricing-info .payment-methods hr {
      background-color: #404040;
      width: 85%; }
  .pricing-info .pricing-icon {
    width: 100%;
    color: #404040;
    font-size: 3em; }

footer {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10%;
  padding-right: 5%;
  height: 40vh;
  text-align: left;
  background-color: #666666;
  color: white;
  overflow-y: hidden; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    footer {
      padding-top: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    footer {
      padding-top: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    footer {
      padding-top: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    footer {
      padding-top: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    footer {
      padding-top: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    footer {
      padding-top: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    footer {
      padding-bottom: 102.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    footer {
      padding-bottom: 76.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    footer {
      padding-bottom: 48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    footer {
      padding-bottom: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    footer {
      padding-bottom: 56.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    footer {
      padding-bottom: 32px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    footer {
      height: 409.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    footer {
      height: 307.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    footer {
      height: 192px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    footer {
      height: 128px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    footer {
      height: 227.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    footer {
      height: 128px; } }
  footer a p {
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    footer a p:hover {
      color: #C3CAD9; }
  footer .copyright {
    float: left;
    width: 20%;
    height: 100%; }
    footer .copyright h2 {
      font-size: 0.6em;
      font-weight: 700;
      text-align: left;
      color: white; }
    footer .copyright p {
      font-size: 0.45em;
      margin-top: -5%;
      text-align: left;
      color: white; }
  footer .footer-about {
    float: left;
    width: 20%;
    height: 100%; }
    footer .footer-about h2 {
      font-size: 0.6em;
      text-align: left;
      color: white; }
    footer .footer-about p {
      font-size: 0.45em;
      margin-top: -5%;
      text-align: left;
      color: white; }
  footer .footer-company {
    float: left;
    width: 20%;
    height: 100%; }
    footer .footer-company h2 {
      font-size: 0.6em;
      text-align: left;
      color: white; }
    footer .footer-company p {
      font-size: 0.45em;
      margin-top: -5%;
      text-align: left;
      color: white; }
  footer .footer-help {
    float: left;
    width: 20%;
    height: 100%; }
    footer .footer-help h2 {
      font-size: 0.6em;
      text-align: left;
      color: white; }
    footer .footer-help p {
      font-size: 0.45em;
      margin-top: -5%;
      text-align: left;
      color: white; }
  footer .footer-social {
    float: left;
    width: 20%;
    height: 100%; }
    footer .footer-social h2 {
      font-size: 0.6em;
      text-align: left;
      color: white; }
    footer .footer-social p {
      font-size: 0.45em;
      margin-top: -5%;
      text-align: left;
      color: white; }

/*# sourceMappingURL=stylesheet.css.map */
