@font-face {
    font-family: 'Genericons';
    src: url("font/genericons-regular-webfont.eot");
    src: url("font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/genericons-regular-webfont.woff") format("woff"), url("font/genericons-regular-webfont.ttf") format("truetype"), url("font/genericons-regular-webfont.svg#genericonsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@mixin viewport-unit($property, $value) {
  #{$property}: $value;

  $unit: unit($value);

  @if (index((vw, vh, vmin, vmax), $unit) != null) {
    $devices: (
      (768px, 1024px), // iPad (all versions)
      (320px, 480px),  // iPhone 4
      (320px, 568px)   // iPhone 5, 5C, 5S
    );

    @each $device in $devices {
      $device-width: nth($device, 1);
      $device-height: nth($device, 2);

      $device-query: "only screen and (-webkit-min-device-pixel-ratio: 1)";
      $device-query: "#{$device-query} and (device-width: #{$device-width})";
      $device-query: "#{$device-query} and (device-height: #{$device-height})";

      $percent: $value / ($value * 0 + 1); // see https://github.com/sass/sass/issues/533

      $percent-width: $device-width * $percent / 100;
      $percent-height: $device-height * $percent / 100;

      @if ($unit == vmin or $unit == vmax) {
        @media #{$device-query} {
          #{$property}: if($unit == vmin, $percent-width, $percent-height);
        }
      }
      @else {
        @media #{$device-query} and (orientation: portrait) {
          #{$property}: if($unit == vw, $percent-width, $percent-height);
        }

        @media #{$device-query} and (orientation: landscape) {
          #{$property}: if($unit == vw, $percent-height, $percent-width);
        }
      }
    }
  }
}

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}
.overflow-wrapper {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.25;
}

h1 {
    font-size: 1em;
    font-weight: 300;
    color: #404040;
    text-align: center;
}

h2 {
    font-size: 0.75em;
    font-weight: 300;
    color: #404040;
}

p {
    font-weight: 500;
    text-align: center;
    font-size: 0.5em;
    color: #404040;
}

a {
    position: relative;
    color: #373B44;
    font-weight: 700;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        top: 1px;
    }
}

ul {
    li {
        font-weight: 500;
        text-align: center;
        font-size: 0.5em;
        color: #404040;
    }
}

hr {
    width: 10%;
    height: 2px;
    border: 0;
    background: #eb5848;
}

.page {
  top:0;
  left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
  overflow: hidden;
}

.loadingGif {
  position: absolute;
  width: 10%;
  height: auto;
  left: 45%;
  margin: 0;
  @include viewport-unit(margin-top, -5vh);
  padding: 0;
  visibility: hidden;
  z-index: 6;
  opacity: 0;
  @include transition(opacity, 2s, ease-in);
}

.loadingGif.active {
  visibility: visible;
  opacity: 1;
}

.bubble-wrap {
	height: 60px;
	width: 60px;
	background-color: transparent;
	top: 70px;
	right: 70px;
	position: absolute;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transform: scale(0);
	-webkit-transition: all 0.3s ease-out;
	display: block;
}

.bubble-wrap.active {
	display: none;
}

.bubble {
	height: 60px;
	width: 60px;
	background-color: white;
	top: 70px;
	right: 70px;
	position: absolute;
	border-radius: 50%;
  z-index: 5;
	-webkit-transform: scale(0);
	-webkit-transition: all 0.3s ease-out;
}

.bubble.active {
	-webkit-transform: scale(100);
	-webkit-transition: all 1.5s ease-out;
	-webkit-transition-delay: 0s;
}

.bubble2 {
	height: 60px;
	width: 60px;
	background-color: white;
	top: 70px;
	right: 70px;
	position: absolute;
	border-radius: 50%;
	-webkit-transform: scale(100);
	-webkit-transition: all 0.3s ease-out;
  z-index: 1;
}

.bubble2.active {
	-webkit-transform: scale(0);
	-webkit-transition: all 0.5s ease-out;
	-webkit-transition-delay: 0s;
}

.bubbleback {
	height: 60px;
	width: 60px;
	background-color: transparent;
	top: 70px;
	right: 70px;
	position: absolute;
	border-radius: 50%;
	-webkit-transform: scale(1);
	opacity: 1;
}

.bubbleback.active {
	-webkit-transform: scale(1.5);
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
}

.info-blocks {
    h1 {
        width: 33.33%;
        display: inline-block;
        float: left;
    }
    h2 {
        width: 33.33%;
        display: inline-block;
        float: left;
        @include viewport-unit(padding-top, 2vh);
    }
    span {
        width: 33.33%;
        height: auto;
        @include viewport-unit(height, 5vh);
        display: inline-block;
        float: left;
        padding: 0 2% 10% 2%;
        color: #404040;
        p {
            text-align: center;
        }
    }
    .genericon {
        font-size: 3em;
    }
    .pf {
        font-size: 3em;
    }
    hr {
        width: 15%;
        display: inline-block;
        float: left;
        margin: 0 9.1665%;
    }
}
.social-blocks {
  @include viewport-unit(margin-top, 10vh);
  @include viewport-unit(margin-bottom, 30vh);
  .genericon {
    @include transition(color, 0.5s, ease);
    &:hover{
    color: #373B44;
    }
  }
}

.info-blocks-3 {
  margin-left: -3.3%;
  padding: 0 10%;
    h2 {
        font-size: 0.5em;
        width:33.33%;
        display: inline-block;
        float: left;
        @include viewport-unit(padding-top, 1vh);
    }
    span {
        width: 33.33%;
        height: auto;
        @include viewport-unit(height, 5vh);
        display: inline-block;
        float: left;
        padding: 0 0% 10% 0%;
        color: #404040;
    }
    .pf {
        font-size: 2em;
    }
}

.info-blocks-4 {
  margin-left: -3.3%;
  padding: 0 10%;
    h2 {
        font-size: 0.5em;
        width:25%;
        display: inline-block;
        float: left;
        @include viewport-unit(padding-top, 1vh);
    }
    span {
        width: 25%;
        height: auto;
        @include viewport-unit(height, 5vh);
        display: inline-block;
        float: left;
        padding: 0 0% 10% 0%;
        color: #404040;
    }
    .pf {
        font-size: 2em;
    }
}

.info-blocks-5 {
  margin-left: -3.3%;
  padding: 0 10%;
    h2 {
        font-size: 0.5em;
        width:20%;
        display: inline-block;
        float: left;
        @include viewport-unit(padding-top, 1vh);
    }
    span {
        width: 20%;
        height: auto;
        @include viewport-unit(height, 5vh);
        display: inline-block;
        float: left;
        padding: 0 0% 10% 0%;
        color: #404040;
    }
    .pf {
        font-size: 2em;
    }
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

nav {
    position: absolute;
    top: 8%;
    width: 83%;
    font-weight: 500;
    text-align: right;
    a {
        padding-right: 2%;
        color: white;
        font-size: 0.5em;
        text-decoration: none;
        @include transition(color, 0.5s, ease);
        &:hover {
            color: #C3CAD9;
        }
    }
}

section {
    display: table;
    width: 100%;
    @include viewport-unit(height, 100vh);
    max-width: none;
    padding: 0 10%;
    margin: 0;
    background-color: white;
}

.intro {
    background-size: cover;
    background-color: white;
    @include viewport-unit(height, 90vh);
}

.intro-form {
    background-image: url(../img/cover.jpg);
    background-repeat: repeat;
    background-color: #FCF2E2;
    //93BF9E //ABC1C7 //A2C9C0 //5F98C7 //A7D3DC //This one is real nice 86B8C6
    @include viewport-unit(height, 60vh);
}

.form {
    margin: 0;
    @include viewport-unit(padding-top, 15vh);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    //padding: 15vh 10% 5% 10%;
    @include viewport-unit(height, 200vh);
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 0.75em;
        text-align: center;
        color: #eb5848;
    }
    p {
        text-align: center;
        padding: 0 15% 0 15%;
    }
}

.form-step-1-header {
    color:white;
    font-size: 2.5em;
    padding-top: 5%;
}

.video-icon {
  position: relative;
  width:10%;
  height: auto;
  margin-left: 45%;
  @include transition(all, 0.2s, ease-in-out);
  &:hover {
    @include prefix(transform, scale(1.1));
  }

}

.get-started-caption {
  color: white;
  @include viewport-unit(padding-top, 20vh);
}
.get-started {
    position: absolute;
    left: 5%;
    bottom: 37%;
    width: 90%;
    text-align: center;
}
@media (max-width: 400px) {
  .logo {
    font-size: 0.75em;
    @include viewport-unit(margin-top, 5.5vh);
  }
  nav {
    a {
      font-size: 0.45em;
    }
  }
}
@media (min-width:650px) {
  .payment-methods-mobile-caption{
    display: none;
  }
}
@media (max-width: 700px) {
  .get-started {
    bottom: 30%;
  }
  .tutorial-text2 {
    @include viewport-unit(padding-top, 1vh);
  }
  .info-blocks {
     h1 {
       @include viewport-unit(padding-top, 5vh);
     }
     h2 {
       @include viewport-unit(padding-top, 5vh);
     }
  }
}
@media (max-width: 650px) {
  .payment-methods-mobile-caption {
    display: block;
  }
  .intro {
  .logo {
    color: red;
    @include viewport-unit(padding-top, 3vh);
  }
}
  .info-blocks-5 {
    margin-left: 0%;
      h2 {
          display: none;
      }
      span {
          width: 50%;
          height: auto;
          @include viewport-unit(height, 5vh);
          display: inline-block;
          float: left;
          padding: 5% 0% 20% 0%;
          color: #404040;
          &:last-of-type {
            width: 100%;
            @include viewport-unit(margin-bottom, 5vh);
          }
      }
      .pf {
          font-size: 1.5em;
      }
  }
}
@media (max-height: 400px) {
  .get-started {
    bottom: 20%;
  }
}
.get-started-text {
  font-size: 30px;
  line-height: 36px;

}
.get-started-text2 {
  font-size: 1em;

}
.cycle {
  position: relative;
  //top: -1px;
  display: inline-block;
  height: 28px;
  width: 150px;
  overflow: visible;
  z-index: 1;
  color: white;
  .get-started-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    display: inline-block;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    @include prefix(transform, translateY(-20px));

    @include transition(all, 250ms, ease);
    &.get-started-current {
      z-index: 2;
      visibility: visible;
      opacity: 1;
      @include prefix(transform, translateY(0));
    }
    &.last {
      opacity: 0;
      @include prefix(transform, translateY(25px));
    }
  }
}

.restaurant-name {
    left: 0%;
    width: 60%;
    @include viewport-unit(height, 10vh);
    border: 5px solid white;
    background-color: transparent;
    color: white;
    font-size: 0.75em;
    text-align: center;
    vertical-align: bottom;
}

.restaurant-city {
    left: 10%;
    width: 20%;
    @include viewport-unit(height, 10vh);
    border: 5px solid white;
    background-color: transparent;
    color: white;
    font-size: 0.75em;
    text-align: center;
    vertical-align: bottom;
}

.restaurant-name-submit {
    left: 10%;
    width: 10%;
    min-width: 30px;
    @include viewport-unit(height, 10vh);
    border: 5px solid #eb5848;
    background-color: #eb5848;
    color: white;
    font-size: 0.75em;
    text-align: center;
    @include transition(border, 0.46s, ease);
    @include transition(background-color, 0.5s, ease);
    &:hover {
        border: 5px solid white;
        background-color: white;
        color: #666666;
    }
    span {
        font-size: 1em;
        text-align: center;
    }
}

.logo {
    text-align: left;
    padding-top: 3%;
    a {
    font-weight: 500;
    text-align: left;
    font-size: 1em;
    color: white;
    }
}

.themes-browser-pike {
    position: absolute;
    width: 33.33%;
    left: 5%;
}

.themes-browser-kirk {
    position: absolute;
    width: 33.33%;
    left: 33.33%;
}

.themes-browser-picard {
    position: absolute;
    width: 33.33%;
    right: 5%;
}

.goto {
      color: #eb5848;
      @include transition(color, 0.5s, ease);
      &:hover {
        color: #404040;
      }
}

.tutorial-link {
    @include viewport-unit(padding-bottom, 5vh);
}

.tutorial-image {
  width: 80%;
  margin-left: 10%;
}

.about {
    margin: 0;
    @include viewport-unit(padding-top, 15vh);
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    //padding: 15vh 10% 5% 10%;
    @include viewport-unit(height, 80vh);
    h1 {
        text-align: center;
        span {
          font-size: 2em;
        }
    }
    h2 {
        text-align: center;
        color: #eb5848;
    }
    p {
        text-align: center;
        padding: 0 15% 0 15%;
        span {
          color:#eb5848;
        }
    }
    .about-steps {
      color: #404040;
    }
    .about-break-top {
      width: 130%;
      @include viewport-unit(height, 40vh);
      background-image: url('../img/about-cover.jpg');
      background-size: cover;
      background-color: #404040;
      @include viewport-unit(margin-top, 10vh);
      @include viewport-unit(margin-bottom, 10vh);
      margin-left: -15%;
    }
    .about-break-bottom {
      width: 100%;
      height: 3px;
      background-color: #404040;
      @include viewport-unit(margin-top, 10vh);
    }
    .about-circle {
        display: inline-block;
        width: 20%;
        margin-left: 40%;
    }

    .about-circle:after {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #C3CAD9;
        background-size: 100% 135%;
        content: "";
        box-shadow: 0 0 0 5px #C3CAD9;
    }

    .circle-A:after {
        background-image: url(../img/me.jpg);
    }
    .info-box {
      margin: 0 15%;
      border: 2px solid #eb5848;
      .info-box-quotes {
        padding: 0 10%;
        }
    }

    .about-blocks {
      width: 70%;
      height: 1px;
      background-color: #404040;
    }
    .hidden-link {
      color: #404040;
    }
}

.tutorial {
    @include viewport-unit(height, 40vh);
    @include viewport-unit(padding-top, 0vh);
    background-image: url(../img/tutorial-cover.jpg);
    background-size: cover;
    background-color: white;

}

.tutorial-text {
  color:white;
  font-size:3em;
  @include viewport-unit(padding-top, 20vh);
}

.tutorial-text2 {
  color: white;
  text-align: center;
  @include viewport-unit(margin-top, -6vh);
}

.tutorial-bio {
    height: auto;
    @include viewport-unit(padding-top, 10vh);
    h2 {
        text-align: center;
        color: #404040;
    }
    hr {
        width: 30%;
        @include viewport-unit(margin-bottom, 5vh);
    }
    .creating-site {
        width: 100%;
        color: #404040;
        font-size: 3em;
    }
}

.tutorial-captions {
    .steps {
        width: 33.33%;
        display: inline-block;
        float: left;
        img {
            position: relative;
            width: 20%;
            margin-left: 40%;
            z-index: 2;
        }
    }
    .steps-timeline {
        position: absolute;
        left: 12%;
        margin-top: 2.5%;
        width: 55%;
        @include viewport-unit(height, 1vh);
        z-index: 1;
    }
    h1 {
        width: 33.33%;
        display: inline-block;
        float: left;
    }
    p {
        width: 33.33%;
        display: inline-block;
        float: left;
        padding: 0 2% 10% 2%;
    }
    hr {
        width: 15%;
        display: inline-block;
        float: left;
        margin: 0 9.1665%;
    }
}

.contact-fix {
  margin-top: -10%;
}

.themes {
    @include viewport-unit(height, 90vh);
    background-image: url(../img/themes-cover.jpg);
    background-size: cover;
    background-color: white;
    @include viewport-unit(padding-top, 20vh);
    @include viewport-unit(padding-bottom, 20vh);
    padding-left: 0;
    padding-right: 0;
    //padding: 20vh 0;
    h1 {
      color: white;
    }
    h2 {
      color: white;
    }
}

.view-theme {
    width: 60%;
    @include viewport-unit(height, 10vh);
    margin-left: 20%;
    @include viewport-unit(margin-top, 5vh);
    border: 5px solid #CC4D3F;
    background-color: #CC4D3F;
    font-size: 0.75em;
    text-align: center;
    @include transition(border, 0.5s, ease);
    @include transition(background-color, 0.5s, ease);
    &:hover {
        h2 {
        color: #666666;
      }
        border: 5px solid white;
        background-color: white;
    }
}

.learn-more {
    width: 30%;
    @include viewport-unit(height, 10vh);
    margin-left: 35%;
    @include viewport-unit(margin-bottom, 5vh);
    border: 3px solid #eb5848;
    background-color: #eb5848;
    font-size: 0.75em;
    text-align: center;
    @media (max-width: 700px) {
      width: 40%;
      margin-left: 30%;
    }
    h2 {
      color: white;
    }
    @include transition(border, 0.5s, ease-out);
    @include transition(background-color, 0.5s, ease);
    &:hover {
        h2 {
        color: #eb5848;
      }
        border: 5px solid #eb5848;
        background-color: white;
    }
}

.changes-info {
  height: auto;
  @include viewport-unit(padding-top, 10vh);
  @include viewport-unit(padding-bottom, 20vh);
    h2 {
        text-align: center;
        color: #404040;
    }
    p {
        text-align: center;
        padding: 0 15% 0 15%;
    }
    hr {
        width: 30%;
        @include viewport-unit(margin-bottom, 5vh);
    }
    .making-changes {
        width: 100%;
        color: #404040;
        font-size: 3em;
    }
    .info-blocks {
      span {
        strong {
          word-wrap: break-word;
        }
      }
    }
}

.changes {
    @include viewport-unit(height, 40vh);
    background-image: url(../img/price-cover.jpg);
    background-size: cover;
    background-color: white;
}

.pricing-info {
    text-align: center;
    @include viewport-unit(padding-top, 5vh);
    @include viewport-unit(padding-bottom, 35vh);
    p {
      padding: 0 15%;
    }
    .payment-methods {
      @include viewport-unit(padding-top, 5vh);
      hr {
        background-color: #404040;
        width: 85%;

      }
    }
    .pricing-icon {
      width: 100%;
      color: #404040;
      font-size: 3em;
    }
}

footer {
    @include viewport-unit(padding-top, 10vh);
    @include viewport-unit(padding-bottom, 10vh);
    padding-left: 10%;
    padding-right: 5%;
    //padding: 10vh 5% 10vh 10%;
    @include viewport-unit(height, 40vh);
    text-align: left;
    background-color: #666666;
    color: white;
    overflow-y: hidden;
    a {
        p {
        @include transition(color, 0.5s, ease);
        &:hover {
            color: #C3CAD9;
          }
      }
    }
    .copyright {
      float: left;
      width: 20%;
      height: 100%;
      h2 {
        font-size: 0.6em;
        font-weight: 700;
        text-align: left;
        color: white;
      }
      p {
        font-size: 0.45em;
        margin-top: -5%;
        text-align: left;
        color: white;
      }
    }
    .footer-about {
      float: left;
      width: 20%;
      height: 100%;
      h2 {
        font-size: 0.6em;
        text-align: left;
        color: white;
      }
      p {
        font-size: 0.45em;
        margin-top: -5%;
        text-align: left;
        color: white;
      }
    }
    .footer-company {
      float: left;
      width: 20%;
      height: 100%;
      h2 {
        font-size: 0.6em;
        text-align: left;
        color: white;
      }
      p {
        font-size: 0.45em;
        margin-top: -5%;
        text-align: left;
        color: white;
      }
    }
    .footer-help {
      float: left;
      width: 20%;
      height: 100%;
      h2 {
        font-size: 0.6em;
        text-align: left;
        color: white;
      }
      p {
        font-size: 0.45em;
        margin-top: -5%;
        text-align: left;
        color: white;
      }
    }
    .footer-social {
      float: left;
      width: 20%;
      height: 100%;
      h2 {
        font-size: 0.6em;
        text-align: left;
        color: white;
      }
      p {
        font-size: 0.45em;
        margin-top: -5%;
        text-align: left;
        color: white;
      }
    }
}
