@font-face {
    font-family: 'Genericons';
    src: url("font/genericons-regular-webfont.eot");
    src: url("font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/genericons-regular-webfont.woff") format("woff"), url("font/genericons-regular-webfont.ttf") format("truetype"), url("font/genericons-regular-webfont.svg#genericonsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
      font-family: 'social';
      src: url('font/social.eot?84036446');
      src: url('font/social.eot?84036446#iefix') format('embedded-opentype'),
           url('font/social.woff?84036446') format('woff'),
           url('font/social.ttf?84036446') format('truetype'),
           url('font/social.svg?84036446#social') format('svg');
      font-weight: normal;
      font-style: normal;
    }


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.25;
}

h1 {
    display: block;
    color: #373B44;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

p {
    color: #C3CAD9;
    font-weight: 500;
    text-align: center;
}

a {
    position: relative;
    color: #373B44;
    font-weight: 700;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        top: 1px;
    }
}

// Also may or may not need
section {
    display: table;
    width: 100%;
    height: 100vh;
    max-width: none;
    padding: 0 7%;
    margin: 0;
    background-color: white;
}

.intro-background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../../img/cover.jpg);
    background-size: cover;
}

.intro-background:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.7);
}

.intro {
    h1 {
      color: white;
      font-size: 1.5em;
    }
    p {
        font-size: 0.75em;
        margin-bottom: -5vh;
    }
    .logo {
        position: absolute;
        width: 5%;
        height: auto;
        top: 5%;
        left: 5%;
    }
    .logo-caption {
        position: absolute;
        top: 5%;
        width: 45%;
        padding-left: 10%;
        text-align: left;
        color: white;
        font-size: 0.75em;
    }
    .restaurant-slogan {
        padding: 0 10%;
    }
}

nav {
    position: absolute;
    top: 7%;
    width: 50%;
    right: -1%;
    font-weight: 500;
    text-align: right;
    a {
        padding-left: 4%;
        color: white;
        font-size: 0.5em;
        text-decoration: none;
        @include transition(color, 0.5s, ease);
        &:hover {
            color: #C3CAD9;
        }
    }
    a:nth-child(4n+3) {
        &:hover {
            color: #1E824C;
        }
    }
}

.about {
    height: 70vh;
    .genericon {
      font-size: 1em;
    }
    .restaurant-name {
      text-transform: uppercase;
    }
    .restaurant-slogan {
      font-size: 0.5em;
      text-transform: uppercase;
      color: #a1a1a1;
    }
    hr {
      width: 5%;
    }
    .quote-text {
        text-transform: uppercase;
        font-size: 0.75em;
        padding: 0 20%;
    }
    .quote-citation {
      text-transform: uppercase;
      font-size: 0.5em;
      color: #a1a1a1;
    }
    .quote-link {
      font-size: 0.5em;
      text-decoration: none;
      p {
        color: #a1a1a1;
        @include transition(color, 0.5s, ease);
        &:hover {
          color: #373B44;
        }
      }
    }
    #bio {
      padding: 5vh 10%;
    }
    .restaurant-aboutBio {
      font-size: 0.6em;
      color: #a1a1a1;
    }
}

.photos {
  height: 80vh;
  padding: 0;
  .photo-square {
    position: relative;
    float: left;
    width: 65%;
    height: 50%;
  }
  #photo-A {
    background-image: url(../../img/circleA.jpg);
    background-size: cover;
  }
  #photo-B {
    width: 35%;
    background-image: url(../../img/circleB.jpg);
    background-size: cover;
  }
  #photo-C {
    width: 35%;
    background-image: url(../../img/circleC.jpg);
    background-size: cover;
  }
  #photo-D {
    background-image: url(../../img/circleD.jpg);
    background-size: cover;
  }
}

.location {
  .genericon {
    font-size: 1em;
  }
  .restaurant-name {
    text-transform: uppercase;
  }
  p {
    font-size: 0.5em;
    text-transform: uppercase;
    color: #a1a1a1;
    strong {
      color: #373B44;
    }
  }
  hr {
    width: 5%;
  }
  a {
    color: #a1a1a1;
    font-size: 0.75em;
  }
  .AD-0 {

  }
  .AD-1 {
    display: none;
  }
  .AD-2 {
    display: none;
  }
  .AD-3 {
    display: none;
  }
  .AD-4 {
    display: none;
  }
  .AD-5 {
    display: none;
  }
  .AD-6 {
    display: none;
  }
  .AD-7 {
    display: none;
  }
  .AD-8 {
    display: none;
  }
  .AD-9 {
    display: none;
  }
}

.location-map {
  padding: 0;
}

.menu {
    .genericon {
      font-size: 1em;
    }
    #menu-info #menu-info-container {
        position: relative;
        width: 66%;
        height: auto;
        padding: 0 5%;
        margin: 5% 0% 5% 17%;
        h1 {
            color: #1E824C;
        }
        h3 {
            color: #373B44;
            font-size: 0.5em;
            text-align: left;
            margin-top: 2%;
            margin-bottom: -2%;
            span {
                font-size: 0.75em;
            }
        }
        p {
            color: #373B44;
            font-size: 0.5em;
            text-align: left;
        }
        a,
        a p {
            color: #1E824C;
        }
        .menu-brief{
            text-align: center;
        }
        .legend {
            font-size: 0.35em;
            text-align: center;

        }

        .menu-category {
            padding-top: 2%;
            font-size: 0.75em;

            &:empty {
             display: inline;
            }
        }
    }
}

.menu-background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: hsla(0, 0%, 0%, 0.7);
}

.social {
    height: 90vh;
    background-color: white;
    padding-top: 5%;
    hr {
      width: 60%;
    }
    p {
        span {
            padding: 0 3%;
            font-size: 2em;
            @include transition(color, 0.5s, ease);
            &:hover {
                color: #C3CAD9;
            }
        }
    }
    a {
        color: #373B44;
        text-decoration: none;
    }
}

.divider {
    height: 1vh;
    background-color: #C3CAD9;
}

.content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    #map, #location-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }
}

#map {}

#location-info div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: auto;
    border: 3px solid #C3CAD9;
    margin: 5% 0% 5% 5%;
    background-color: rgba(255, 255, 255, 1);
    p {
        color: #373B44;
        font-size: 0.75em;
    }
    a,
    a p {
        color: #1E824C;
    }
    #email-address {
        word-wrap: break-word;
    }
}

.contact-form {
    width: 60%;
    height: 60vh;
    padding: 0 1%;
    margin-left: 20%;
    background-color: white;
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: #373B44 !important;
        &:focus {
            -webkit-text-fill-color: #C3CAD9 !important;
        }
    }
    input {
        color: #373B44;
        &:focus {
            color: #C3CAD9;
        }
    }
    textarea {
        color: #373B44;
        &:focus {
            color: #C3CAD9;
        }
    }
}

.contact-input {
    width: 100%;
    height: 5vh;
    border: 2px solid #373B44;
    font-size: 0.5em;
    @include transition(border-color, 0.5s, ease);
    &:focus {
        border-color: #C3CAD9;
    }
}

.contact-textarea {
    width: 100%;
    height: 20vh;
    border: 2px solid #373B44;
    margin-top: 2vh;
    @include transition(border-color, 0.5s, ease);
    &:focus {
        border-color: #C3CAD9;
    }
}

.contact-submit {
    width: 100%;
    height: 5vh;
    color: white;
    border: none;
    background-color: #373B44;
    font-size: 0.5em;
    @include transition(background-color, 0.5s, ease);
    &:hover {
        background-color: #C3CAD9;
    }
}

footer {
    height: 20vh;
    padding: 1% 5%;
    background-color: #373B44;
    color: white;
    a {
        color: #FFFFFF;
        text-decoration: none;
    }
    p {
        font-size: 0.5em;
        span {
            padding: 0 1%;
        }
    }
}
