@font-face {
    font-family: 'Genericons';
    src: url("font/genericons-regular-webfont.eot");
    src: url("font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/genericons-regular-webfont.woff") format("woff"), url("font/genericons-regular-webfont.ttf") format("truetype"), url("font/genericons-regular-webfont.svg#genericonsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('font/MonoSocialIconsFont-1.10.eot');
    src: url('font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
					


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.25;
}

h1 {
    display: block;
    color: #373B44;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

p {
    color: #C3CAD9;
    font-weight: 500;
    text-align: center;
}

a {
    position: relative;
    color: #373B44;
    font-weight: 700;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        top: 1px;
    }
}

// Also may or may not need
section {
    display: table;
    width: 100%;
    height: 100vh;
    max-width: none;
    padding: 0 7%;
    margin: 0;
    background-color: white;
}

.intro-background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/cover.jpg);
    background-size: cover;
}

.intro-background:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.7);
}

.intro {
    h1 {
        color: white;
        font-size: 2em;
    }
    p {
        font-size: 0.75em;
    }
    .logo {
        position: absolute;
        width: 10%;
        height: auto;
        top: 20vh;
        left: 45%;
    }
}

nav {
    position: absolute;
    top: 7%;
    width: 100%;
    margin-left: 3%;
    font-weight: 500;
    text-align: right;
    a {
        padding-right: 2%;
        color: white;
        font-size: 0.5em;
        text-decoration: none;
        @include transition(color, 0.5s, ease);
        &:hover {
            color: #C3CAD9;
        }
    }
    a:nth-child(4n+3) {
        &:hover {
            color: #1E824C;
        }
    }
}

.buzz {
    height: 70vh;
    .quote-citation {
        color: #1E824C;
    }
    .quote-link {
        color: #C3CAD9;
        p {
            padding-right: 15%;
            font-size: 0.5em;
            text-align: right;
            @include transition(color, 0.5s, ease);
            &:hover {
                color: #1E824C;
            }
        }
    }
}

.location {
    padding: 0;
}

.about {
    height: 80vh;
    padding: 0%;
    background-color: white;
    #bio {
        padding: 0 10%;
        p {
            color: #373B44;
            font-size: 0.5em;
            text-align: left;
        }
    }
    #about-circle-wrapper {
        display: block;
        width: 70%;
        height: auto;
        @include center-block;
        div {
            margin-left: 2%;
        }
        .first-circle {
            margin-left: 0%;
        }
    }
}

.about-circle {
    display: inline-block;
    width: 21.896%;
}

.about-circle:after {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #C3CAD9;
    background-size: cover;
    content: "";
    box-shadow: 0 0 0 5px #C3CAD9;
}

.circle-A:after {
    background-image: url(../img/circleA.jpg);
}

.circle-B:after {
    background-image: url(../img/circleB.jpg);
}

.circle-C:after {
    background-image: url(../img/circleC.jpg);
}

.circle-D:after {
    background-image: url(../img/circleD.jpg);
}

.menu {
    background-image: url(../img/menuBG.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    #menu-info #menu-info-container {
        position: relative;
        width: 66%;
        height: auto;
        padding: 0 5%;
        border: 3px solid #C3CAD9;
        margin: 5% 0% 5% 17%;
        background-color: rgba(255, 255, 255, 1);
        h1 {
            color: #1E824C;
        }
        h3 {
            color: #373B44;
            font-size: 0.5em;
            text-align: left;
            margin-top: 2%;
            margin-bottom: -2%;
            span {
                font-size: 0.75em;
            }
        }
        p {
            color: #373B44;
            font-size: 0.5em;
            text-align: left;
        }
        a,
        a p {
            color: #1E824C;
        }
        .menu-brief{
            text-align: center;
        }
        .legend {
            font-size: 0.35em;
            text-align: center;
            span {
                color: #1E824C;
            }
        }
        .legend-indicator {
            color: #1E824C;
        }
        .menu-category {
            padding-top: 2%;
            font-size: 0.75em;
            
            &:empty {
             display: inline; 
            }
        }
    }
}

.menu-background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: hsla(0, 0%, 0%, 0.7);
}

.social {
    height: 90vh;
    background-color: white;
    padding-top: 5%;
    p {
        span {
            padding: 0 3%;
            font-size: 3em;
            @include transition(color, 0.5s, ease);
            &:hover {
                color: #373B44;
            }
        }
    }
    a {
        color: #C3CAD9;
        text-decoration: none;
    }
}

.divider {
    height: 1vh;
    background-color: #C3CAD9;
}

.content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    #map, #location-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
}

#map {}

#location-info div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: auto;
    border: 3px solid #C3CAD9;
    margin: 5% 0% 5% 5%;
    background-color: rgba(255, 255, 255, 1);
    p {
        color: #373B44;
        font-size: 0.75em;
    }
    a,
    a p {
        color: #1E824C;
    }
    #email-address {
        word-wrap: break-word;
    }
}

.contact-form {
    width: 60%;
    height: 60vh;
    padding: 0 1%;
    margin-left: 20%;
    background-color: white;
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: #C3CAD9 !important;
        &:focus {
            -webkit-text-fill-color: #373B44 !important;
        }
    }
    input {
        color: #C3CAD9;
        &:focus {
            color: #373B44;
        }
    }
    textarea {
        color: #C3CAD9;
        &:focus {
            color: #373B44;
        }
    }
}

.contact-input {
    width: 100%;
    height: 5vh;
    border: 2px solid #C3CAD9;
    font-size: 0.5em;
    @include transition(border-color, 0.5s, ease);
    &:focus {
        border-color: #373B44;
    }
}

.contact-textarea {
    width: 100%;
    height: 20vh;
    border: 2px solid #C3CAD9;
    margin-top: 2vh;
    @include transition(border-color, 0.5s, ease);
    &:focus {
        border-color: #373B44;
    }
}

.contact-submit {
    width: 100%;
    height: 5vh;
    color: white;
    border: none;
    background-color: #C3CAD9;
    font-size: 0.5em;
    @include transition(background-color, 0.5s, ease);
    &:hover {
        background-color: #373B44;
    }
}

footer {
    height: 20vh;
    padding: 1% 5%;
    background-color: #373B44;
    color: white;
    a {
        color: #1E824C;
        text-decoration: none;
    }
    p {
        font-size: 0.5em;
        span {
            padding: 0 1%;
        }
    }
}
